# When testing, make sure PORT_RANGE does not cover too many ports, it will slow down
# container bringup and teardown SUBSTANTIALLY.
# See these for more info:
# - https://github.com/moby/moby/issues/14288
# - https://github.com/moby/moby/discussions/45524

# Global
PUBLIC_HOST=
RPC_HOST=rabbitmq
POSTGRES_HOST=postgres
JWT_SECRET=
OAUTH2_UID=
OAUTH2_SECRET=
ENCRYPTION_KEY=

# Game service
GAME_HOST=${PUBLIC_HOST}
PORT_RANGE='10000-10100'

# Database
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Matchmaker
MATCHMAKER_SERVICE=matchmaker_service_queue
MAX_TOURNAMENTS=100
MIN_TOURNAMENT_PLAYERS=2
MAX_TOURNAMENT_PLAYERS=10
