{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'page.css' %}">
    </head>
    <body>
        you wanna login using the 42 api? 🤪<br/>
        your data is safe with us! 😇<br/>
        <br/>
        if you have 2FA enabled, validate your OTP before logging in! 🛡️<br>
        <button id="verify-otp" onclick="send_otp_code()">Verify OTP</button>
        <input id="otp-input" type="text" placeholder="Enter OTP">

        <br/>
        
        <a href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-eef92caa3aba1123bfc9b2fdbaf87812ce1975ca53fc0bf3eaeaee5b1aae137b&redirect_uri=http%3A%2F%2F127.0.0.1%3A8000%2Fauth&response_type=code">Login</a>
        <script type="text/javascript" src="{% static 'page.js' %}"></script>
    </body>
</html>
