{% load static %}
{% load i18n %}
{% block content %}
<h1>{% trans "Welcome to Tournament: " %}{{ tournament.name }}</h1>


<script type="text/javascript">
    var tournamentData = JSON.parse('{{ tournament|escapejs }}');
    console.log('Tournament data:', tournamentData);
    console.log('Number of players:', tournamentData.number_of_players);
   // Example usage: Update the DOM with the number of players
   document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('numberOfPlayers').textContent = tournamentData.number_of_players;
    });
</script>

<div class="container">
    <h1> Tournament Details </h1>
    <br> Number of Players: <span id="numberOfPlayers"></span> <br>
</div>


{% endblock %}